<!DOCTYPE html>
<html lang = "en-US" dir = "ltr">
  <head>
    <title>{{title}}</title>
    <meta charset = "utf-8"/>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    {{#styles.length}}
      	{{#styles}}
      		<link rel="stylesheet" href="/{{.}}">
      	{{/styles}}
  	{{/styles.length}}
    <meta name = "keywords" content = "image editor, html, canvas, easel js, filters"/>
    <meta name = "description" content = "Web based image editor"/>
  </head>

   <body>

     <header class = "ie-header">

     </header>
