* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-weight: 400;
  font-family: sans-serif; }

body {
  background-color: #F4F4F4;
  background-image: url("../img/grid-me.png"); }

.canvas-wrapper {
  position: relative;
  border: 1px solid black; }
